

@import "vars";

.backButtons {
    height: fit-content;

    .verticalLine {
        width: 1px;
        background-color: $grayDarker;
        //box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    span {
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 1px solid transparent;
        height: fit-content;

        &:hover {
            border-bottom: 1px solid $grayDarker;
        }
    }
}
