
@import "vars";

#eventDetail {
    .detail {

        .typeImg {
            max-width: 140px;
            opacity: 0.7;
        }

        .detailRow {
            padding-top: 6px;
            padding-bottom: 6px;
            border-bottom: 1px solid $grayDarker;

            .description {
                max-height: 300px;
                overflow-y: auto;
                animation-name: onRender;
                animation-duration: 0.2s;
            }

            & > span:first-child {
                letter-spacing: 1px;
            }
        }

        .affectedLocalities {
            max-height: 300px;
            overflow-y: auto;
            animation-name: onRender;
            animation-duration: 0.2s;
        }

        .rollDown {
            cursor: pointer;
        }

        @keyframes onRender {
            from {
                max-height: 0;
            }

            to {
                max-height: 300px;
            }
        }
    }
}
