
@import "vars";

#eventDetail {
    .detail {

        .colorLine {
            width: 2px;
            opacity: 0.6;
        }
        
        .typeImg {
            max-width: 200px;
        }

        .detailRow {
            padding-top: 6px;
            padding-bottom: 6px;
            border-bottom: 1px solid $gray;

            .description {
                max-height: 300px;
                overflow-y: auto;
                animation-name: onRender;
                animation-duration: 0.2s;
            }

            & > span:nth-child(1) {
                font-weight: bold;
                font-size: 1.06rem;
                margin-right: 8px;
            }
        }

        .affectedLocalities {
            max-height: 300px;
            overflow-y: auto;
            animation-name: onRender;
            animation-duration: 0.2s;
        }

        .rollDown {
            cursor: pointer;
        }

        @keyframes onRender {
            from {
                max-height: 0;
            }

            to {
                max-height: 300px;
            }
        }
    }
}
