
@import 'vars';

.infoMessage {

    .colorCircle {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50%;

        &.green {
            background-color: $green;
            fill: $green;
        }

        &.red {
            background-color: $red;
            fill: $red;
        }
    }
}

