
@import "vars";

#map {
    position: relative;
    .label {
        position: absolute;
        top:0;
        right: 0;
    }
    svg {
        g > g {
            cursor: pointer;

            &:hover {
                stroke-width: 3px;
            }
        }
    }
}
