
@import 'vars';

body {
    color: $black;
    font-family: 'Roboto', sans-serif;

    h1 {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 1.6rem;
    }    
    
    h3 {
        font-size: 1.4rem;
    }

    .green {
        background-color: rgba($green, 0.9);
    }

    .yellow {
        background-color: rgba($yellow, 0.9);
    }

    .orange {
        background-color: rgba($orange, 0.8);
    }

    .red {
        background-color: rgba($red, 1);
    }

    .gray {
        background-color: rgba($gray, 1);
    }

    .colorCircle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}
