
@import 'vars';

body {
    color: $black;
    font-family: 'Roboto', sans-serif;

    h1, h2, h3 {
        color: $black;
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.42rem;
    }

    .green {
        background-color: $green;
        fill: $green;
    }

    .yellow {
        background-color: $yellow;
        fill: $yellow;
    }

    .orange {
        background-color: $orange;
        fill: $orange;
    }

    .red {
        background-color: $red;
        fill: $red;
    }

    .gray {
        background-color: $gray;
        fill: $gray;
    }

    .noEvent {
        fill: $grayDarker;
        stroke-width: 4px;
    }

    .colorCircle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}
