
$black: #292929;

$green: #0aa147;
$yellow: #FFFF00;

$orange: #ff9717;
$red: #eb4242;

$gray: #f7f7f7;
$grayDarker: #bfbfbf;
$grayEvent: #f0f0f0;
$noEvent: #f5fff0;


$yellow: rgba($yellow, 0.92);
$red: rgba($red, 0.94);
$green: rgba($green, 0.8);
